AngularXam/AngularXam/AngularXam.Android/bin/
AngularXam/AngularXam/AngularXam.Android/obj/
AngularXam/AngularXam/AngularXam/bin/
AngularXam/AngularXam/AngularXam.iOS/obj/
AngularXam/AngularXam/AngularXam.UWP/obj/
AngularXam/AngularXam/AngularXam/obj/
